<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<div th:fragment="nav" id="header">
    <div id="header_in" style="display: block;">
        <div class="t_menu_wrap">
            <ul class="">
                <li><a href="">로그인</a></li>
                <li><a href="">회원가입</a></li>
                <li><a href="">로그아웃</a></li>
                <li><a href="">회사소개</a></li>
                <li><a href="" title="SITEMAP">SITEMAP</a></li>
            </ul>
        </div>
    </div>

    <div class="main_t_bar_wrap">
        <div id="main_t_bar">
            <h1>
                <a href="/">
                    <img src="http://linkpt.cdn3.cafe24.com/logo.jpg" alt="로고">
                </a>
            </h1>

            <!-- 메인 상단 검색 -->
            <div class="main_srch_wrap">
                <form id="top_search" method="post" action="/search/list.do">
                    <div class="main_srch">
                        <input type="text" name="keyword" id="top_keyword" class="word_div" size="40" value="">
                        <input type="image" src="http://linkpt.cdn3.cafe24.com/images/m_srch_btn.jpg" name="submit" value="submit" align="absmiddle" onclick="javascript:goSearch();">
                    </div>
                </form>

                <div id="word_div" name="aassddff" class="word_div" style="text-align: left; padding: 5px; overflow: hidden scroll; height: 140px; border: 1px solid rgb(220, 220, 220); position: relative; z-index: 9999; background: url(&quot;http://linkpt.cdn3.cafe24.com/images/white.jpg&quot;); display: none;">

                    <!-- 검색어 출력 -->
                    <a href="#n" onclick="click_search('asd');">asd</a>
                    <br>

                </div>

                <div id="word_div_x" class="word_div" style="text-align:right; display:none; position:relative; z-index:9999; background:url('http://linkpt.cdn3.cafe24.com/images/white.jpg') ">
                    <a href="#n" id="word_div_close">닫기</a>
                </div>
                <!--//메인 상단 검색 -->
            </div>
        </div>
    </div>

    <div class="menu_con">
        <div class="global_header">
            <div id="gnb_con" class="gnb">
                <ul id="gnb">
                    <li class="sitemap_btn">카테고리보기</li>

                    <li th:class="'gnb_'+${i.index+1}" th:each="dept1menu, i : ${dept1menu}">
                        <a th:href="${dept1menu.menuLink}" th:alt="${dept1menu.alt}" th:text="${dept1menu.menuNm}"></a>
                        <p class="h_title">
                            <span th:text="${dept1menu.description}"></span>
                        </p>
                    </li>
                </ul>
            </div>

            <!-- 카테고리보기에 마우스 오버 시 나타나는 네비게이션 -->
            <div class="m_visual_btn_wrap">
                <div class="m_visual_btn">
                    <ul class="">
                        <li th:each="category, i : ${categoryMenu}">
                            <a href="#" th:class="'mvn_0'+${i.index+1}" th:text="${category.categoryNm}"></a>
                            <ul class="m_2depth">
                                <p class="category_title" th:text="${category.categoryNm}"></p>
                                <li class="">
                                    <a href="/product/list.do?field_id=&amp;category_id=1" class="m_2depth_tit">솔루션</a>
                                    <ul class="m_3depth">
                                        <li>
                                            <a href="#n" onclick="goProductByCategory_x('3','699', '542', '357'   );" style="text-align: left;">- Scale Buster</a> <!-- 4차메뉴 위치  -->
                                        </li>
                                        <li>
                                            <a href="#n" onclick="goProductByCategory_x('3','705', '542', '357'   );" style="text-align: left;">- Decontamination기술</a> <!-- 4차메뉴 위치  -->
                                        </li>
                                        <li>
                                            <a href="#n" onclick="goProductByCategory_x('3','700', '542', '357'   );" style="text-align: left;">- LOHC</a> <!-- 4차메뉴 위치  -->
                                        </li>
                                        <li>
                                            <a href="#n" onclick="goProductByCategory_x('3','707', '542', '357'   );" style="text-align: left;">- 설비돌발고장예지기술</a> <!-- 4차메뉴 위치  -->
                                        </li>
                                        <li>
                                            <a href="#n" onclick="goProductByCategory_x('3','704', '542', '357'   );" style="text-align: left;">- Deaeration기술</a> <!-- 4차메뉴 위치  -->
                                        </li>
                                        <li>
                                            <a href="#n" onclick="goProductByCategory_x('3','555', '542', '357'   );" style="text-align: left;">- ATCS</a> <!-- 4차메뉴 위치  -->
                                        </li>
                                        <li>
                                            <a href="#n" onclick="goProductByCategory_x('3','686', '542', '357'   );" style="text-align: left;">- SRCT</a> <!-- 4차메뉴 위치  -->
                                        </li>
                                        <li>
                                            <a href="#n" onclick="goProductByCategory_x('3','701', '542', '357'   );" style="text-align: left;">- MVR</a> <!-- 4차메뉴 위치  -->
                                        </li>
                                        <li>
                                            <a href="#n" onclick="goProductByCategory_x('3','702', '542', '357'   );" style="text-align: left;">- MgSO4제조기술</a> <!-- 4차메뉴 위치  -->
                                        </li>
                                    </ul>

                                    <ul class="m_3depth">
                                        <li>
                                            <a href="#n" onclick="goProductByCategory_x('3','703', '542', '357'   );" style="text-align: left;">- Bohemite제조기술</a> <!-- 4차메뉴 위치  -->
                                        </li>
                                        <li>
                                            <a href="#n" onclick="goProductByCategory_x('3','706', '542', '357'   );" style="text-align: left;">- 전기분해수소생산기술</a> <!-- 4차메뉴 위치  -->
                                        </li>
                                    </ul>
                                </li>

                                <li class="">
                                    <a href="/productcorporation/list.do?field_id=&amp;category_id=2" class="m_2depth_tit">기자재</a>
                                    <ul class="m_3depth">
                                        <li><a href="#n" onclick="goProductByCategory2_x('3','55', '36');" style="text-align: left;">- Air Separation Unit</a></li>
                                        <li><a href="#n" onclick="goProductByCategory2_x('3','56', '36');" style="text-align: left;">- PSA</a></li>
                                        <li><a href="#n" onclick="goProductByCategory2_x('3','57', '36');" style="text-align: left;">- Nitrogen Plant</a></li>
                                        <li><a href="#n" onclick="goProductByCategory2_x('3','556', '36');" style="text-align: left;">- Air Dryer</a></li>
                                        <li><a href="#n" onclick="goProductByCategory2_x('3','557', '36');" style="text-align: left;">- Cooling Tower</a></li>
                                        <li><a href="#n" onclick="goProductByCategory2_x('3','558', '36');" style="text-align: left;">- 수처리설비</a></li>
                                        <li><a href="#n" onclick="goProductByCategory2_x('3','559', '36');" style="text-align: left;">- 냉동/공조설비</a></li>
                                        <li><a href="#n" onclick="goProductByCategory2_x('3','560', '36');" style="text-align: left;">- 케미칼주입설비</a></li>
                                    </ul>
                                </li>
                                <p id="m_gnb_banner">
                                    <a href="">
                                        <img src="http://linkplantec.com//upload/1/banner/b1e1e596a76d457ab077b8e562a9948a.jpg" style="width: 291px; height: 400px;">
                                    </a>
                                </p>
                            </ul>
                        </li>

                    </ul>
                    <div class="tmCurtain">
                        <p class="close_gnb"></p>
                    </div>
                </div>
            </div>
            <!-- //카테고리보기에 마우스 오버 시 나타나는 네비게이션 -->
        </div>
    </div>
</div>