<!-- wrapper -->
<div id="wrapper">
    <!-- container -->
    <div id="container">
    {{#categoryList}}
        {{id}}<br>
        {{parentId}}<br>
        {{categoryNm}}<br>
        {{categoryGb}}<br>
        {{categoryMemo}}<br>
        {{useFl}}<br>
        {{delFl}}<br>
        {{menuFl}}<br>
        {{modifiedDate}}<br>
        {{createdDate}}<br>
    {{/categoryList}}
        <!-- 팝업창 (s) -->
        <div id="divpop1" style="position: absolute; left: 120px; top: 30px; border: 5px solid rgb(0, 0, 0); padding: 0px; margin: 0px; z-index: 201; display:block;">
            <table cellpadding="0" cellspacing="0">
                <tbody>
                <tr>
                    <td>
                        <a href="/intro.do" target="_blank" title="새창으로 열림">
                            <img src="http://linkpt.cdn3.cafe24.com/images/210406_popup.jpg" style="width:100%;" alt="팝업">
                        </a>
                    </td>
                </tr>
                <tr>
                    <td align="right" style="background: #000;">
                        <input type="checkbox" name="layer_chkbox1" id="layer_chkbox1" value="checkbox" checked="checked" style="vertical-align:middle">
                        <span style="font-size: 12px; color: #fff;">오늘 하루 이 창을 열지 않음</span>
                        <a href="#" onclick="javascript:closeWin(1);"><span style="font-size: 12px; color: #fff;">[닫기]</span> </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <!-- 팝업창 (e) -->

        <script type="text/javascript">
			$(function(){
				init();
			});
			function init(){

				//오늘 요일 구하기
				var d = new Date();
				var week = new Array('일', '월', '화', '수', '목', '금', '토', '일');
				var cookiedata = document.cookie;
				var layerCount = 2;  // 레이어팝업갯수는 꼭 조정
				for(var i=1 ; i<=layerCount ; i++) {
					if ( cookiedata.indexOf("maindiv"+i+"=done") < 0 ) {
						if(i == 2){
							if(week[d.getDay()] == "수") {
								$("div#divpop" + i).show();
							}
						}
						else{
							$("div#divpop" + i).show();
						}
					}
					else {
						$("div#divpop" + i).hide();
					}
				}
			}

			function closeWin(layerNum) {
				if ( document.getElementById("layer_chkbox"+layerNum).checked ){
					setCookie( "maindiv"+layerNum, "done" , 1 );
				}

				document.all['divpop'+layerNum].style.display = "none";
			}

			function setCookie( name, value, expiredays ) {
				var todayDate = new Date();
				todayDate.setDate( todayDate.getDate() + expiredays );
				document.cookie = name + "=" + escape( value ) + "; path=/; expires=" + todayDate.toGMTString() + ";"
			}
			</script>

        <!-- 메인 비주얼 -->
        <div class="m_visual_wrap">
            <div class="m_visual01">
                <div class="main_slide_wrap">
                    <div class="main_slider">
                        <ul id="slider1">
                            <li onclick="javascript:goBanner('${banner.banner_gb}', '${banner.banner_type}', '${banner.banner_link}', '${banner.banner_nm}');" style="cursor: pointer;">
                                <img src="http://linkplantec.com//upload/1/banner/b35628ba07d149a6a7e7cde934e54426.jpg">
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- //메인 비주얼 -->

        <!-- 솔루션 -->
        <div id="m_contents_01_wrap">
            <p class="m_product_tit">
                <a href="">솔루션&nbsp;&nbsp;<span>|&nbsp;&nbsp;Solution</span>
                    <img src="http://linkpt.cdn3.cafe24.com/images/mv_btn.jpg" alt="솔루션 더보기">
                </a>
            </p>
            <div class="m_contents_01">
                <div id="m_product_tabs_01" class="product_tabs">

                    <!-- 상품 탭 -->
                    <ul class="tab_title">
                        <li>
                            <a href="#tabs-${status.count}">${category.category_nm}</a>
                        </li>
                    </ul>

                    <!-- 상품 탭 -->
                    <div class="m_product_wrap">
                        <div id="tabs-1">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- //솔루션 -->

        <!-- 배너-->
        <div id="m_banner_wrap" class="m_banner_slider">
            <ul id="slider2">
                <li onclick="javascript:goBanner('${banner.banner_gb}', '${banner.banner_type}', '${banner.banner_link}', '${banner.banner_nm}');" style="cursor: pointer;">
                    <img src="http://linkplantec.com/upload/1/banner/8f08d09ebfc741368d8c914d837b9da8.png" style="width: 1240px; height: 153px;">
                </li>
            </ul>
        </div>
        <!-- //배너-->

        <!--기자재 -->
        <div id="m_contents_02_wrap">
            <p class="m_product_tit">
                <a href="">기자재&nbsp;&nbsp;<span>|&nbsp;&nbsp;Materials</span>
                    <img src="http://linkpt.cdn3.cafe24.com/images/mv_btn.jpg" alt="기자재 더보기">
                </a>
            </p>
            <div class="m_contents_02">
                <div id="m_product_tabs_02" class="product_tabs">

                    <!-- 상품 탭 -->
                    <ul class="tab_title2">

                        <li>
                            <a href="#tabs-${status.count}">${category.category_nm}</a>
                        </li>

                    </ul>

                    <!-- 상품 탭 -->
                    <div class="m_product_wrap">

                            <div id="tabs-1">


                            </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- 기자재 -->

        <!-- 배너-->
        <div id="m_banner_wrap" class="m_banner_slider">
            <ul id="slider3">
                <li onclick="javascript:goBanner('${banner.banner_gb}', '${banner.banner_type}', '${banner.banner_link}', '${banner.banner_nm}');" style="cursor: pointer;">
                    <img src="http://linkplantec.com/upload/1/banner/8de1ae4358734ab18ee764dc3ce76fd5.png" style="width: 1240px; height: 153px;">
                </li>
            </ul>
        </div>

        <!-- //배너-->
        <!-- EPC/유지보수 -->
        <div id="m_contents_04_wrap">
            <p class="m_product_tit">
                <a href="">EPC·유지보수&nbsp;&nbsp;<span>|&nbsp;&nbsp;EPC/Maintenance</span>
                    <img src="http://linkpt.cdn3.cafe24.com/images/mv_btn.jpg" alt="시공장비 더보기">
                </a>
            </p>
            <div class="m_contents_04">
                <div id="m_product_tabs_04" class="product_tabs">
                    <!-- 상품 탭 -->
                    <ul class="tab_title3">

                        <li>
                            <a href="#tabs-${status.count}">${category.category_nm}</a>
                        </li>

                    </ul>
                    <!-- 상품 탭 -->
                    <div class="m_product_wrap">

                            <div id="tabs-${status.count}">


                            </div>

                    </div>

                </div>
            </div>
        </div>
        <!-- //EPC/유지보수-->


        <!-- 링크 배너 -->
        <div id="m_contents_05_wrap">
            <a href="javascript:goBanner('${bannerMap.banner_gb_4[0].banner_gb}', '${bannerMap.banner_gb_4[0].banner_type}', '${bannerMap.banner_gb_4[0].banner_link}', '${bannerMap.banner_gb_4[0].banner_nm}');" style="cursor: pointer;">
                <img src="http://linkplantec.com//upload/1/banner/a4ae65d40b8a49a49d68b38fd8803cc0.jpg" alt="${bannerMap.banner_gb_4[0].banner_content}">
            </a>

            <a href="javascript:goBanner('${bannerMap.banner_gb_5[0].banner_gb}', '${bannerMap.banner_gb_5[0].banner_type}', '${bannerMap.banner_gb_5[0].banner_link}', '${bannerMap.banner_gb_5[0].banner_nm}');" style="cursor: pointer;">
                <img src="http://linkplantec.com//upload/1/banner/525432e19af94f658016dc82dcf288e8.jpg" alt="${bannerMap.banner_gb_5[0].banner_content}">
            </a>
        </div>
        <!-- //링크 배너 -->

        <!-- 파워링크 -->
        <div id="m_contents_06_wrap">
            <p class="m_product_tit t_center">링플 파트너스</p>
            <ul class="m_contents_06 bxsliderss " id="b_partners">

                <li style="float: left; list-style: none; position: relative; width: 130px;">
                    <a href="">


                            <div class="img_wrap">
                                <div class="img" style="background-image: url(http://linkplantec.com//upload/1/corporation/7baf36b3e9ce4fc98b976aaace742537.svg) !important; height: 100px; display: block; overflow: hidden; background-repeat: no-repeat; background-position: center center; background-size: contain;">
                                    <img src="http://linkplantec.com//upload/1/corporation/7baf36b3e9ce4fc98b976aaace742537.svg" alt="" style="display: none;">
                                </div>
                            </div>

                        <p class="m_con_06_tit">3M</p>
                    </a>
                </li>
                <li style="float: left; list-style: none; position: relative; width: 130px;">
                    <a href="">


                        <div class="img_wrap">
                            <div class="img" style="background-image: url(http://linkplantec.com//upload/1/corporation/7baf36b3e9ce4fc98b976aaace742537.svg) !important; height: 100px; display: block; overflow: hidden; background-repeat: no-repeat; background-position: center center; background-size: contain;">
                                <img src="http://linkplantec.com//upload/1/corporation/7baf36b3e9ce4fc98b976aaace742537.svg" alt="" style="display: none;">
                            </div>
                        </div>

                        <p class="m_con_06_tit">3M</p>
                    </a>
                </li>
                <li style="float: left; list-style: none; position: relative; width: 130px;">
                    <a href="">


                        <div class="img_wrap">
                            <div class="img" style="background-image: url(http://linkplantec.com//upload/1/corporation/7baf36b3e9ce4fc98b976aaace742537.svg) !important; height: 100px; display: block; overflow: hidden; background-repeat: no-repeat; background-position: center center; background-size: contain;">
                                <img src="http://linkplantec.com//upload/1/corporation/7baf36b3e9ce4fc98b976aaace742537.svg" alt="" style="display: none;">
                            </div>
                        </div>

                        <p class="m_con_06_tit">3M</p>
                    </a>
                </li>

            </ul>
        </div>



    </div>
    <!-- //container -->


</div>
<!-- //wrapper -->
<script>
    $(document).ready(function() {
        $(".bxsliderss img").error(function() {
            $(".bxsliderss img").attr("src", "<%=request.getContextPath()%>/assets/img/noimage.png");
        });
    });
</script>